<!doctype html>
<html class="no-js" lang="cs">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="robots" content="index, follow" />
  <title>MBA - studium MBA v Praze | BusinessInstitut.cz</title>
  <meta property="og:title" content="MBA - studium MBA v Praze | BusinessInstitut.cz" />
  <meta name="keywords" content="studium MBA, MBA titul, MBA" />
  <meta name="description" content="Nabízíme studium MBA, BBA, LLM a DBA v češtině. Přijďte studovat MBA česky a získejte titul MBA."
  />
  <meta property="og:description" content="Nabízíme studium MBA, BBA, LLM a DBA v češtině. Přijďte studovat MBA česky a získejte titul MBA."
  />
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="css/bootstrap-theme.min.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="css/jquery.smartmenus.bootstrap.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="css/bootstrap-social.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="css/main.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="css/lightslider.css"/>
  <script type="text/javascript" src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" charset="UTF-8"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" charset="UTF-8"></script>
  <script type="text/javascript" src="js/vendor/bootstrap.min.js" charset="UTF-8"></script>
  <script type="text/javascript" src="js/jquery.smartmenus.min.js" charset="UTF-8"></script>
  <script type="text/javascript" src="js/plugins.js" charset="UTF-8"></script>
  <script type="text/javascript" src="js/jquery.smartmenus.bootstrap.min.js" charset="UTF-8"></script>
  <script type="text/javascript" src="js/main.js" charset="UTF-8"></script>
  <link rel="shortcut icon" href="assets/files/favicon.ico" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
</head>

<body>

<div class="container">

    <div class="row">
      <div class="col-md-12">
        <p id="logo" class="text-muted">
          <a href="/">
            <img src="assets/files/logo/logo-re.png" class="img-responsive" alt="">
          </a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
          <nav id="main-nav" class="navbar navbar-default navbar-expand-md">

              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="assets/files/logo/logo3.jpg" alt="">
                </a>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li>
                    <a href="/" class=" active">Studium</a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="/proc-si-zvolit-prave-business-institut/1-42">Proč si zvolit právě nás</a>
                      </li>
                      <li>
                        <a href="/informace-o-studiu-mba/1-4">Informace o studiu MBA</a>
                      </li>
                      <li>
                        <a href="/informace-o-studiu-bba/1-5">Informace o studiu BBA</a>
                      </li>
                      <li>
                        <a href="/podminky-prijeti/1-6">Podmínky přijetí</a>
                      </li>
                      <li>
                        <a href="/poplatky-za-studium/1-7">Poplatky za studium</a>
                      </li>
                      <li>
                        <a href="/akce/1-8">Akce</a>
                      </li>
                      <li>
                        <a href="/studentska-sekce/1-10">Studentská sekce</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="/programy/1-48">Programy MBA</a>
                  </li>
                  <li>
                    <a href="/executive-llm/1-32">Executive LLM</a>
                  </li>
                  <li>
                    <a href="/" class=" active">Programy BBA</a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="/zaklady-managementu/1-33">BBA Základy managementu</a>
                      </li>
                      <li>
                        <a href="/personalni-management/1-34">BBA Personální management</a>
                      </li>
                      <li>
                        <a href="/marketing-media-a-komunikace/1-35">BBA Marketing, media a komunikace</a>
                      </li>
                      <li>
                        <a href="/financni-management/1-36">BBA Finanční management</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="/studium-dba/1-45">Program DBA</a>
                  </li>
                  <li>
                    <a href="/#prihlaska">Přihláška</a>
                  </li>
                  <li>
                    <a href="/" class=" active">O nás</a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="/#kontakt">Kontakt</a>
                      </li>
                      <li>
                        <a href="/predstaveni-spolecnosti-business-institut/1-37">Kdo jsme</a>
                      </li>
                      <li>
                        <a href="/osobni-reference/1-38">Osobní reference</a>
                      </li>
                      <li>
                        <a href="/reference/1-39">Reference</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!--/.nav-collapse -->
          </nav>
      </div>
    </div>

    <!-- Slider
    ================================================== -->
    <div class="row">
       <div class="col-12">
         <div id="slider">
             <div class="item">
                 <div class="clearfix">
                     <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                         <li><img src="img/slider_photo.jpg" alt=""></li>
                         <li><img src="img/slider_photo.jpg" alt=""></li>
                         <li><img src="img/slider_photo.jpg" alt=""></li>
                     </ul>
                 </div>
             </div>
         </div>
       </div>
   </div>

   <!-- Novy cyklus
   ================================================== -->
   <div class="row">
     <div class="col-12">
       <div id="novycyklus" class="arrow">
           <span><strong>Nový cyklus</strong> - zahájení v říjnu 2017</span>
       </div>
     </div>
   </div>

   <!-- Prihlasky
   ================================================== -->
   <div class="row">
     <div class="col-12">
       <div id="prihlasky">
         <p>Spustili jsme přihlašování do nového cyklu manažerských programů <strong>MBA, BBA, LLM a DBA</strong>. Do neděle <strong><span style="color:#1a89a2;">&nbsp;23. 7. 2017</span></strong> se slevou <strong>24.000 Kč</strong> za včasné přihlášení.</p>
         <p>Celková cena studia činí <strong>94.000 Kč</strong> bez DPH.</p>
         <p class="btn-bottom text-center">
           <a class="btn btn-custom btn-sm" href="/proc-si-zvolit-prave-business-institut/1-42"><i class="fa fa-plus icon-left"> </i>Více informací</a>
         </p>
       </div>
     </div>
   </div>

   <!-- Recenzia
   ================================================== -->
   <div class="row">
     <div class="col-12">
       <div class="container">
         <div class='row'>
           <div class='col-md-offset-2 col-md-8'>
             <div class="carousel slide" data-ride="carousel" id="quote-carousel">

               <!-- Carousel Slides / Quotes -->
               <div class="carousel-inner">

                 <!-- Quote 1 -->
                 <div class="item active">
                   <blockquote>
                     <div class="row">
                       <div class="col-sm-3 text-center">
                         <img src="img/review_photo.png" alt="">
                       </div>
                       <div class="col-sm-9 review-text">
                         <p>Celkově vnímám studium a následné uplatnění poznatků jako velmi přínosné pro můj pracovní i osobní život.</p>
                         <p>Pavel Hendrych<br>
                         <small>Chief Operations Officer, itelligence, a.s.</small></p>
                       </div>
                     </div>
                   </blockquote>
                 </div>
                 <!-- Quote 2 -->
                 <div class="item">
                   <blockquote>
                     <div class="row">
                       <div class="col-sm-3 text-center">
                         <img src="img/review_photo2.png" alt="">
                       </div>
                       <div class="col-sm-9 review-text">
                         <p>Studium naprosto splnilo má očekávání.
                            Díky interakci s lektory i kolegy z branže jsem získala zajímavé informace i cenné kontakty.</p>
                         <p>Radka Svobodová<br>
                         <small>HR Manager, Foxconn CZ, s.r.o.</small></p>
                       </div>
                     </div>
                   </blockquote>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>


   <div class="row">
     <div class="col-12">
       <section class="section-block">
         <div class="container">
           <div class="row">
           <div class="col-lg-12">
             <h2 class="section-heading white-line">Proč <strong>studovat</strong> u nás?</h2>

             <div class="wrap-info-blocks arrow arrow-white">
                 <div class="row info-blocks">
                   <div class="col-sm-6">
                     <img src="assets/files/icons/icon-1.png" alt="">
                     <p>Business Institut se řadí mezi nejprestižnější MBA školy v České republice.</p>
                     <hr>
                   </div>

                   <div class="col-sm-6">
                     <img src="assets/files/icons/icon-2.png" alt="">
                     <p>86 % našich absolventů potvrzuje návratnost investice do studia MBA.</p>
                     <hr>
                   </div>
                 </div>

                 <div class="row info-blocks">
                   <div class="col-sm-6">
                     <img src="assets/files/icons/icon-3.png" alt="">
                     <p>K našim studentům a ke vzdělávání přistupujeme jinak než ostatní školy.</p>
                     <hr>
                   </div>

                   <div class="col-sm-6">
                     <img src="assets/files/icons/icon-4.png" alt="">
                     <p>Nad rámec studia nabízíme studentům mnoho dalších vzdělávacích aktivit ZDARMA.</p>
                     <hr>
                   </div>
                 </div>

                 <div class="row info-blocks">
                   <div class="col-sm-6">
                     <img src="assets/files/icons/icon-5.png" alt="">
                     <p>Propojujeme studenty, lektory a podnikatele pomocí networkingových aktivit.</p>
                     <hr class="invisible">
                   </div>

                   <div class="col-sm-6">
                     <img src="assets/files/icons/icon-6.png" alt="">
                     <p>Výuku zajišťují odborníci s mnohaletými praktickými zkušenostmi v daném oboru.</p>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
        </section>
     </div>
   </div>

   <div class="row">
     <div class="col-md-12">
       <p class="btn-bottom text-center">
         <a class="btn btn-custom btn-sm" href="/proc-si-zvolit-prave-business-institut/1-42"><i class="fa fa-plus icon-left"> </i>Více informací</a>
       </p>
     </div>
   </div>

   <div class="row">
     <div class="col-12">
       <section class="section-block">
           <h2 class="section-heading white-line">Poplatky za <strong>studium</strong></h2>
           <div class="container">
           <div class="row">
           <div class="col-lg-12">

               <table class="table table-light table-prices table-responsive arrow arrow-white">
                 <thead>
                  <tr>
                    <th scope="col">Studijní program</th>
                    <th scope="col">Cena po slevě</th>
                    <th scope="col">Původní cena</th>
                  </tr>
                 </thead>
                 <tbody>
                   <tr class="border_bottom">
                     <th><strong>MBA</strong></th>
                     <td>
                       <strong>94.000 Kč</strong> 113.740 Kč s DPH</td>
                     <td>
                       <strong style="line-height: 20.8px;">118.000 Kč</strong>
                       <span style="line-height: 20.8px;">&nbsp;142.780 Kč s DPH</span>
                     </td>
                   </tr>
                   <tr class="border_bottom">
                     <th><strong>MBA</strong><br>online</th>
                     <td>
                       <strong>93.000 Kč</strong>&nbsp;112.530 Kč s DPH</td>
                     <td>
                       <strong style="line-height: 20.8px;">112.000 Kč</strong>
                       <span style="line-height: 20.8px;">&nbsp;135.520 Kč s DPH</span>
                     </td>
                   </tr>
                   <tr class="border_bottom">
                     <th><strong>MBA</strong><br>v Aj</th>
                     <td>
                       <strong>123.500 Kč</strong>&nbsp;149.435 Kč s DPH</td>
                     <td>
                       <strong style="line-height: 20.8px;">147.500 Kč</strong>
                       <span style="line-height: 20.8px;">&nbsp;178.475 Kč s DPH</span>
                     </td>
                   </tr>
                   <tr class="border_bottom">
                     <th><strong>LLM</strong></th>
                     <td>
                       <strong>94.000 Kč</strong> 113.740 Kč s DPH</td>
                     <td>
                       <strong style="line-height: 20.8px;">118.000 Kč</strong>
                       <span style="line-height: 20.8px;">&nbsp;142.780 Kč s DPH</span>
                     </td>
                   </tr>
                   <tr class="border_bottom">
                     <th><strong>BBA</strong></th>
                     <td>
                       <strong>49.000 Kč</strong> 59.290 Kč s DPH</td>
                     <td>
                       <strong style="line-height: 20.8px;">59.000 Kč</strong>
                       <span style="line-height: 20.8px;">&nbsp;71.390 Kč s DPH</span>
                     </td>
                   </tr>
                   <tr>
                     <th><strong>DBA</strong></th>
                     <td>
                       <strong>139.000 Kč</strong> 168.190 Kč s DPH</td>
                     <td>
                       <strong style="line-height: 20.8px;">155.000 Kč</strong>
                       <span style="line-height: 20.8px;">&nbsp;187.550 Kč s DPH</span>
                     </td>
                   </tr>
                 </tbody>
               </table>
          </div>
          </div>
          </div>
       </section>
     </div>
   </div>

   <div class="row">
     <div class="col-md-12">
       <p class="btn-bottom text-center">
         <a class="btn btn-custom btn-sm" href="/proc-si-zvolit-prave-business-institut/1-42"><i class="fa fa-plus icon-left"> </i>Více informací</a>
       </p>
     </div>
   </div>

   <div class="row">
     <div class="col-md-12">
       <section class="section-block">
         <div class="row">
          <div class="col-lg-12">
            <div class="text-center dropdown-fullwidth">
              <!-- Single button -->
              <div class="btn-group">
                <button type="button" class="btn btn-programy btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Programy <strong>MBA</strong>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="http://m.esbm.cz/leadership-a-soft-skills/1-25">Leadership a soft skills</a></li>
                    <li><a href="http://m.esbm.cz/corporate-management/1-18">Corporate management</a></li>
                    <li><a href="http://m.esbm.cz/management-zdravotnictvi/1-20">Management zdravotnictví</a></li>
                    <li><a href="http://m.esbm.cz/mba-executive-management/1-52">Executive management</a></li>
                    <li><a href="http://m.esbm.cz/management-inovaci/1-22">Management inovací</a></li>
                    <li><a href="http://m.esbm.cz/mba-projektovy-management/1-42">Projektový management</a></li>
                    <li><a href="http://m.esbm.cz/management-obchodu/1-23">Management obchodu</a></li>
                    <li><a href="http://m.esbm.cz/mba-sportovni-management/1-44">Sportovní management</a></li>
                    <li><a href="http://m.esbm.cz/management-gastronomie-a-hotelnictvi/1-46">Management gastronomie a hotelnictví</a></li>
                    <li><a href="http://m.esbm.cz/mba-pojistovnictvi/1-50">Pojišťovnictví</a></li>
                    <li><a href="http://m.esbm.cz/mba-bankovnictvi/1-48">Bankovnictví</a></li>
                    <li><a href="http://m.esbm.cz/ekonomika-a-financni-management/1-19">Ekonomika a finanční management</a></li>
                    <li><a href="http://m.esbm.cz/investicni-management/1-21">Investiční management</a></li>
                    <li><a href="http://m.esbm.cz/management-verejne-spravy/1-24">Management veřejné správy</a></li>
                </ul>
              </div>
            </div>
         </div>
         </div>
         </section>
     </div>
   </div>

   <div class="row">
     <div class="col-12">
       <section>
         <div class="container">
           <h2 class="section-heading white-line">Máte <strong>dotaz</strong>?</h2>
               <form id="contact-form" class="clearfix arrow arrow-white formular">
                   <div class="row">
                     <div class="col-md-12">

                       <div class="group">
                         <input type="text" required>
                         <span class="highlight"></span>
                         <span class="bar"></span>
                         <label>JMÉNO A PŘÍJMENÍ</label>
                       </div>

                       <div class="group">
                         <input type="text" required>
                         <span class="highlight"></span>
                         <span class="bar"></span>
                         <label>E-MAIL</label>
                       </div>

                       <div class="group">
                         <input type="text" required>
                         <span class="highlight"></span>
                         <span class="bar"></span>
                         <label>TELEFON</label>
                       </div>

                       <div class="group">
                         <label class="dotaz">DOTAZ</label>
                         <textarea class="form-control input-sm" rows="8"></textarea>
                         <span class="highlight"></span>
                         <span class="bar"></span>
                       </div>

                     </div>
                   </div>
                 </form>
                 <p class="btn-bottom text-center">
                   <button type="submit" class="btn btn-send btn-sm" value="Odeslat">Odeslat</button>
                 </p>
             </div>
       </section>
     </div>
   </div>

   <div class="row">
     <div class="col-12">
       <section class="section-block">
         <div class="col-12">
           <div id="prihlaska">
             <div>
               <form id="form-application" v-on:submit.prevent="onSubmit">
               <div class="container">
                 <div v-show="alertSent" class="alert alert-success text-center" role="alert">Děkujeme za vyplnění přihlášky. Studijní koordinátorka Vás bude kontaktovat do dvou pracovních dnů.</div>
                 <div v-show="alertBadInput" class="alert alert-warning text-center" role="alert">Prosím vyplňte všechny údaje.</div>
                 <div v-show="alertError" class="alert alert-danger text-center" role="alert">Přihlášku se nepodařilo odeslat, prosím zkuste to později.</div>

                 <div v-show="loading" class="sk-folding-cube">
                   <div class="sk-cube1 sk-cube"></div>
                   <div class="sk-cube2 sk-cube"></div>
                   <div class="sk-cube4 sk-cube"></div>
                   <div class="sk-cube3 sk-cube"></div>
                 </div>

                 <div v-show="form">
                   <h3>Online přihláška ke studiu</h3>
                 <div class="show-form-application">
                   <div class="form-group">
                     <input type="text" class="form-control" id="field-name" v-model="name" required>
                     <span class="highlight"></span>
                     <span class="bar"></span>
                     <label for="field-name">JMÉNO, PŘÍJMENÍ, TITUL*</label>
                   </div>

                   <div class="form-group">
                     <input type="text" class="form-control" id="field-email" v-model="email" required>
                     <span class="highlight"></span>
                     <span class="bar"></span>
                     <label for="field-email">E-MAIL*</label>
                   </div>

                   <div class="form-group">
                     <input type="text" class="form-control" id="field-tel" v-model="tel" required>
                     <span class="highlight"></span>
                     <span class="bar"></span>
                     <label for="field-tel">TELEFON*</label>
                   </div>

                   <div class="form-group">
                     <label class="studijni-program" for="field-program">STUDIJNÍ PROGRAM*</label>
                     <select class="form-control" id="field-program" v-model="program" required>
                       <option value=""></option>
                       <option value="MBA - Management, organizace a řízení">MBA - Management, organizace a řízení</option>
                       <option value="MBA - Marketing, media a soft skills">MBA - Marketing, media a soft skills</option>
                       <option value="MBA - Řízení lidských zdrojů">MBA - Řízení lidských zdrojů</option>
                       <option value="MBA - Strategické řízení podniku">MBA - Strategické řízení podniku</option>
                       <option value="MBA - Management a řízení ve zdravotnictví">MBA - Management a řízení ve zdravotnictví</option>
                       <option value="MBA - Řídicí a kontrolní systém, interní audit">MBA - Řídicí a kontrolní systém, interní audit</option>
                       <option value="MBA - Public relations a komunikace">MBA - Public relations a komunikace</option>
                       <option value="MBA - Veřejná správa">MBA - Veřejná správa</option>
                       <option value="MBA - Obchodní právo v podnikání">MBA - Obchodní právo v podnikání</option>
                       <option value="MBA - Finanční management a strategické řízení financí">MBA - Finanční management a strategické řízení financí</option>
                       <option value="MBA - Management cestovní ruchu">MBA - Management cestovní ruchu</option>
                       <option value="MBA - Mezinárodní obchod">MBA - Mezinárodní obchod</option>
                       <option value="MBA - Doprava, spoje, logistika">MBA - Doprava, spoje, logistika</option>
                       <option value="MBA - Projektové řízení a plánování">MBA - Projektové řízení a plánování</option>
                       <option value="MBA - Management soft skills">MBA - Management soft skills</option>
                       <option value="MBA - Daně, účetnictví a controlling">MBA - Daně, účetnictví a controlling</option>
                       <option value="MBA - Informační technologie">MBA - Informační technologie</option>
                       <option value="MBA - International Executive CZ">MBA - International Executive CZ</option>
                       <option value="LLM - Commercial Law">LLM - Commercial Law</option>
                       <option value="BBA - Základy managementu">BBA - Základy managementu</option>
                       <option value="BBA - Personální management">BBA - Personální management</option>
                       <option value="BBA - Marketing media a komunikace">BBA - Marketing media a komunikace</option>
                       <option value="BBA - Finanční management a strategické řízení financí">BBA - Finanční management a strategické řízení financí</option>
                       <option value="MBA - Executive management">MBA - Executive management</option>
                       <option value="MBA - Real Estate">MBA - Real Estate</option>
                       <option value="MBA - Public relations a komunikace - specializace pro vinaře a obchodníky s vínem">MBA - Public relations a komunikace - specializace pro vinaře a obchodníky s vínem</option>
                       <option value="MBA - Real Estate">MBA - Real Estate</option>
                       <option value="DBA - Management a leadership">DBA - Management a leadership</option>
                     </select>
                   </div>

                   <div class="cyklus">
                     <label for="field-radio">CYKLUS*</label><br>
                     <label><input type="radio" id="field-radio" name="optradio"><span>15.3.2017</span></label>
                     <label><input type="radio" id="field-radio" name="optradio"><span>15.3.2017</span></label>
                   </div>

                   <p class="text-center">Údaje označené * jsou povinné.</p>

                   </div>
                   <p class="btn-bottom text-center">
                     <button type="submit" class="btn btn-send btn-sm" value="Odeslat">ODESLAT PŘIHLÁŠKU</button>
                   </p>

                 </div>
                 </div>
                 <p class="text-center" v-show="formBtn">
                   <button class="btn btn-online-prihlaska arrow arrow-red" @click="showForm()">Online přihláška</button>
                 </p>
               </form>


               <style type="text/css">
                 .sk-folding-cube {
                   margin: 20px auto;
                   width: 80px;
                   height: 80px;
                   position: relative;
                   -webkit-transform: rotateZ(45deg);
                   transform: rotateZ(45deg);
                 }

                 .sk-folding-cube .sk-cube {
                   float: left;
                   width: 50%;
                   height: 50%;
                   position: relative;
                   -webkit-transform: scale(1.1);
                   -ms-transform: scale(1.1);
                   transform: scale(1.1);
                 }

                 .sk-folding-cube .sk-cube:before {
                   content: '';
                   position: absolute;
                   top: 0;
                   left: 0;
                   width: 100%;
                   height: 100%;
                   background-color: #206f8d;
                   -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
                   animation: sk-foldCubeAngle 2.4s infinite linear both;
                   -webkit-transform-origin: 100% 100%;
                   -ms-transform-origin: 100% 100%;
                   transform-origin: 100% 100%;
                 }

                 .sk-folding-cube .sk-cube2 {
                   -webkit-transform: scale(1.1) rotateZ(90deg);
                   transform: scale(1.1) rotateZ(90deg);
                 }

                 .sk-folding-cube .sk-cube3 {
                   -webkit-transform: scale(1.1) rotateZ(180deg);
                   transform: scale(1.1) rotateZ(180deg);
                 }

                 .sk-folding-cube .sk-cube4 {
                   -webkit-transform: scale(1.1) rotateZ(270deg);
                   transform: scale(1.1) rotateZ(270deg);
                 }

                 .sk-folding-cube .sk-cube2:before {
                   -webkit-animation-delay: 0.3s;
                   animation-delay: 0.3s;
                 }

                 .sk-folding-cube .sk-cube3:before {
                   -webkit-animation-delay: 0.6s;
                   animation-delay: 0.6s;
                 }

                 .sk-folding-cube .sk-cube4:before {
                   -webkit-animation-delay: 0.9s;
                   animation-delay: 0.9s;
                 }

                 @-webkit-keyframes sk-foldCubeAngle {
                   0%,
                   10% {
                     -webkit-transform: perspective(140px) rotateX(-180deg);
                     transform: perspective(140px) rotateX(-180deg);
                     opacity: 0;
                   }
                   25%,
                   75% {
                     -webkit-transform: perspective(140px) rotateX(0deg);
                     transform: perspective(140px) rotateX(0deg);
                     opacity: 1;
                   }
                   90%,
                   100% {
                     -webkit-transform: perspective(140px) rotateY(180deg);
                     transform: perspective(140px) rotateY(180deg);
                     opacity: 0;
                   }
                 }

                 @keyframes sk-foldCubeAngle {
                   0%,
                   10% {
                     -webkit-transform: perspective(140px) rotateX(-180deg);
                     transform: perspective(140px) rotateX(-180deg);
                     opacity: 0;
                   }
                   25%,
                   75% {
                     -webkit-transform: perspective(140px) rotateX(0deg);
                     transform: perspective(140px) rotateX(0deg);
                     opacity: 1;
                   }
                   90%,
                   100% {
                     -webkit-transform: perspective(140px) rotateY(180deg);
                     transform: perspective(140px) rotateY(180deg);
                     opacity: 0;
                   }
                 }
               </style>

               <script type="text/javascript" src="https://unpkg.com/vue@2.3.4/dist/vue.min.js"></script>
               <script type="text/javascript">
                 var formApplication = new Vue({
                   el: '#form-application',
                   data: {
                     alertSent: false,
                     alertBadInput: false,
                     alertError: false,
                     loading: false,
                     form: false,
                     formBtn: true,
                     name: '',
                     email: '',
                     tel: '',
                     program: ''
                   },
                   mounted: function () {
                     if (location.search == '?odeslani_prihlasky') {
                       this.alertSent = true;
                       this.alertBadInput = false;
                       this.alertError = false;
                       this.loading = false;
                       this.form = false;
                       this.formBtn = false;
                     }
                   },
                   methods: {
                     validate: function () {
                       return (this.name != '' && this.email != '' && this.tel != '' && this.program);
                     },
                     showForm: function () {
                       this.form = true;
                       this.formBtn = false;
                     },
                     sendingSuccess: function () {
                       window.location = '/?odeslani_prihlasky#prihlaska';
                     },
                     sendingError: function () {
                       this.alertSent = false;
                       this.alertBadInput = false;
                       this.alertError = true;
                       this.loading = false;
                       this.form = false;
                     },
                     onSubmit: function () {
                       var self = this;
                       if (self.validate()) {
                         self.alertSent = false;
                         self.alertBadInput = false;
                         self.alertError = false;
                         self.loading = true;
                         self.form = false;
                         jQuery.ajax({
                           url: '/save-application',
                           method: 'post',
                           data: {
                             name: this.name,
                             email: this.email,
                             tel: this.tel,
                             program: this.program
                           },
                           success: self.sendingSuccess,
                           error: self.sendingError
                         });
                       } else {
                         self.alertBadInput = true;
                       }
                     }
                   }
                 })
               </script>
             </div>
           </div>
         </div>
       </section>
     </div>
   </div>



   <div class="row">
     <div class="col-md-12">
       <section class="section-block">
         <div class="row">
         <div class="col-lg-12">
           <div id="kontakt">
             <h2 class="section-heading">Kontaktujte nás</h2>

             <div aria-multiselectable="true" class="panel-group" id="accordionContact" role="tablist">
               <div class="panel panel-default">
                 <div class="panel-heading" id="collapsibleContact" role="tab">
                   <h4 class="panel-title">
                     <span class="address-item">
                       <i aria-hidden="true" class="glyphicon glyphicon-home"> </i>
                       <span>Kodaňská 558/25 101 00 Praha 10,Vršovice</span>
                     </span>
                     <a class="address-item" href="tel:+420234221342">
                       <i aria-hidden="true" class="glyphicon glyphicon-earphone"> </i>
                       <span>+ 420 234 221 343</span>&nbsp;</a>
                     <a class="address-item" href="mailto:info@businessinstitut.cz">
                       <i aria-hidden="true" class="glyphicon glyphicon-envelope"></i>
                       <span>info@businessinstitut.cz</span>
                     </a>
                     <a aria-controls="collapseAddress" aria-expanded="true" class="address-item" data-parent="#accordionContact" data-toggle="collapse"
                       href="#collapseAddress">
                       <i class="fa fa-plus-circle"> </i>
                       <span><u>Více informací zde</u></span>
                     </a>
                   </h4>
                 </div>

                 <div aria-labelledby="collapsibleContact" class="panel-collapse collapse" id="collapseAddress" role="tabpanel">
                   <div class="panel-body">
                     <h4>Business Institut EDU a.s.</h4>

                     <p>Kodaňská 558/25
                       <br /> 101 00 Praha 10, Vršovice (
                       <a href="http://maps.google.cz/maps?hl=cs&amp;rlz=1R2FTSG_csCZ464&amp;bav=on.2,or.r_gc.r_pw.r_qf.,cf.osb&amp;biw=1920&amp;bih=790&amp;wrapid=tlif133146459878810&amp;q=koda%C5%88sk%C3%A1+25&amp;um=1&amp;ie=UTF-8&amp;hq=&amp;hnear=0x470b937e787860d1:0x3ed4c2029eec6444,Koda%C5%88sk%C3%A1+558/25,+101+00+Praha+10-Vr%C5%A1ovice&amp;gl=cz&amp;ei=oIlcT5rzKMbd4QTItJyoDw&amp;sa=X&amp;oi=geocode_result&amp;ct=image&amp;resnum=1&amp;ved=0CCEQ8gEwAA">odkaz na mapu</a> )
                       <br /> Česká republika</p>

                     <h5>Studijní oddělení:</h5>

                     <p>Po - Čt: 9:00 - 17:00 hod.
                       <br /> Pá: 9:00 - 16:00 hod
                       <br /> (Pro individuální schůzku nás neváhejte kontaktovat na níže uvedených telefonních číslech.)
                       <br /> Tel. č.1: + 420 234 221 343
                       <br /> Tel. č. 2: + 420 234 221 342
                       <br /> Mobil: + 420 775 757 140</p>

                     <p>
                       <strong>Email:</strong>
                       <a href="mailto:info@businessinstitut.cz">info@businessinstitut.cz</a>
                       <br />
                       <strong>Email:</strong>
                       <a href="mailto:studium@businessinstitut.cz">studium@businessinstitut.cz</a>
                     </p>

                     <h5>Bankovní účet:</h5>

                     <p>107-7745390287/0100 vedený u Komerční banky, a.s.</p>

                     <h5>Fakturační a právní údaje:</h5>

                     <p>Kodaňská 558/25
                       <br /> 101 00 Praha 10, Vršovice
                       <br /> zapsaná v obchodním rejstříku vedeným Městským soudem v Praze, oddíl B, vložka 15183
                       <br /> IČ: 28873017
                       <br /> DIČ: CZ 28873017</p>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
         </div>
       </section>
     </div>
   </div>

   <div class="row">
     <div class="col-md-12">
       <footer id="footer" class="footer clearfix">
         <div class="container">

           <p class="pull-right socials">
             <a class="btn btn-social-icon" href="https://www.facebook.com/BusinessInstitutCZ">
               <i class="fa fa-facebook"> </i>
             </a>
             <a class="btn btn-social-icon" href="https://twitter.com/MBApraha">
               <i class="fa fa-twitter"> </i>
             </a>
             <a class="btn btn-social-icon" href="https://plus.google.com/101942362942127154272/posts">
               <i class="fa fa-google-plus"> </i>
             </a>
             <a class="btn btn-social-icon" href="https://www.linkedin.com/company/business-institut">
               <i class="fa fa-linkedin"> </i>
             </a>
           </p>

           <p class="pull-left info">Business Institut EDU a.s.&nbsp;
             <span style="line-height: 20.8px;">© 2009 - 2017</span>
           </p>
         </div>
       </footer>
     </div>
   </div>

</div>

  <script src="js/lightslider.js"></script>
  <script>
     $(document).ready(function() {
    $("#content-slider").lightSlider({
              loop:true,
              keyPress:true
          });
          $('#image-gallery').lightSlider({
              gallery:true,
              item:1,
              thumbItem:9,
              slideMargin: 0,
              speed:500,
              auto:true,
              loop:true,
              onSliderLoad: function() {
                  $('#image-gallery').removeClass('cS-hidden');
              }
          });
  });
  </script>

</body>

</html>
